<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Hoxro Wopi</title>
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="main-nav">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="Document" asp-action="AddDocument">New Document</a>
            </li>
            <li>
                <a target="_blank" href="@ViewData["WopiHostUrl"]">WOPI Host</a>
            </li>
        </ul>
        <partial name="_LoginPartial" />
    </nav>
    <header>
    </header>
    <main>
        <section>
            @RenderBody()
        </section>
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - Hoxro</p>
    </footer>
@await RenderSectionAsync("scripts", required: false)
</body>
</html>
