WopiHost/.vs
WopiHost/Microsoft.CobaltCore/bin
WopiHost/Microsoft.CobaltCore/obj
WopiHost/publish
WopiHost/WopiHost/bin
WopiHost/WopiHost/obj
WopiHost/WopiHost.Abstractions/bin
WopiHost/WopiHost.Abstractions/obj
WopiHost/WopiHost.Cobalt/bin
WopiHost/WopiHost.Cobalt/obj
WopiHost/WopiHost.Core/bin
WopiHost/WopiHost.Core/obj
WopiHost/WopiHost.Discovery/bin
WopiHost/WopiHost.Discovery/obj
WopiHost/WopiHost.Discovery.Tests/bin
WopiHost/WopiHost.Discovery.Tests/obj
WopiHost/WopiHost.FileSystemProvider/bin
WopiHost/WopiHost.FileSystemProvider/obj
WopiHost/WopiHost.FileSystemProvider.Tests/bin
WopiHost/WopiHost.FileSystemProvider.Tests/obj
WopiHost/WopiHost.Url/bin
WopiHost/WopiHost.Url/obj
WopiHost/WopiHost.Url.Tests/bin
WopiHost/WopiHost.Url.Tests/obj
WopiHost/WopiHost.Utility/bin
WopiHost/WopiHost.Utility/obj
WopiHost/WopiHost.Web/bin
WopiHost/WopiHost.Web/obj
WopiHost/WopiHost.Service/bin
WopiHost/WopiHost.Service/obj
WopiHost/WopiHost/wwwroot/wopi-docs
WopiHost/WopiHost/wwwroot/other-docs
WopiHost/WopiHost/wwwroot/log/ErrorLogs.txt
WopiHost/WopiHost/wwwroot/log/LockMismatch.txt
WopiHost/WopiHost/wwwroot/log/log.txt
WopiHost/WopiHost/wwwroot/log/requestlog.txt
WopiHost/WopiHost/wwwroot/log/SessionOut.txt
/WopiHost/WopiHost.Webv2/obj
/WopiHost/WopiHost.Webv2/.config
/WopiHost/WopiHost.Webv2/bin


/WopiHost/WopiHost.Data/obj
/WopiHost/WopiHost.Data/.config
/WopiHost/WopiHost.Data/bin
